<div class="row">
  <h1>List of Users</h1>
  <% @users.each do |user| %>
    <div class="col-md-4">
      <%= image_tag user.avatar.url(:medium), :class => "img-circle" %>
      <p class="list-users-name"><%= user.first_name %> <%= user.last_name %></p>
      <p class="list-users-email"><%= user.email %></p>
    </div>
  <% end %>
</div>