<div class="row">
  <h1>List of Companies</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Stock Exchange</th>
          <th>Symbol</th>
          <th>Company Name</th>
        </tr>
      </thead>
      <tbody>
        <% @companies.each do |company| %>
          <tr>
            <td><%= company.stock_exchange %></td>
            <% if company.annualincomes.empty? %>
              <td><%= company.symbol %></td>
            <% else %>
              <td><%= link_to company.symbol, company_path(company.stock_exchange, company.symbol) %></td>
            <% end %>
            <td><%= company.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
