<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 100; font-size: 16px;">Welcome <%= @email %>!</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 100; font-size: 15px;">You can confirm your account email through the link below:</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 100; font-size: 15px;"><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
