<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 100; font-size: 16px;">Hello <%= @resource.email %>!</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 100; font-size: 15px;">You requested a link to change your password. You can do this through the link below.</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 100; font-size: 15px;"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 100; font-size: 15px;">If you didn't request this, please ignore this email.</p>
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 100; font-size: 15px;">Your password won't change until you access the link above and create a new one.</p>
